[Unit]
Description=Lock before sleep
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xdg-screensaver lock

[Install]
WantedBy=sleep.target
